Django==1.9
Pygments==2.0.2
Werkzeug==0.11.2
astroid==1.4.4
beautifulsoup4==4.4.1
colorama==0.3.6
coverage==4.0.3
decorator==4.0.6
django-debug-toolbar==1.4
django-extensions==1.6.1
-e git+git://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
djangorestframework==3.1.2
drf-extensions==0.2.7
flake8==2.5.2
lazy-object-proxy==1.2.1
lxml==3.5.0
mccabe==0.4.0
ordereddict==1.1
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
py==1.4.31
pyflakes==1.0.0
pylint==1.5.4
pytest==2.8.7
pytest-django==2.9.1
reporter==0.1.2
requests==2.7.0
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.18
traitlets==4.0.0
wmctrl==0.3
wrapt==1.10.6
